[user]
	email = patrickkenzie@gmail.com
	name = Patrick Kenzie
[credential]
	helper = cache
[core]
	editor = vim
[push]
	default = simple
[alias]
	lg = log --oneline --graph --decorate --color
	st = status
	s = status
	d = diff
	dc = diff --cached
[pull]
	ff = only
